<div  class="container">
    <h1 class="text-center"> {{title}} </h1>
  </div>
  <div class="container">
  </div>
  <button type="button" class="btn btn-success"
      mat-button
      [routerLink]="['/create-mstbank']"
      [routerLinkActive]="'active-link'"
    >Add new Bank</button>
  <table class = "table table-striped">
      <thead>
          <tr>
              <th> Hành động</th>
              <th> Mã ngân hàng</th>
              <th> Tên đầy đủ </th>
              <th> Tên viết tắt</th>
              <th> Ghi chú </th>
              <th> Người tạo </th>
              <th> Thời gian taọ </th>
              <th> Người sửa</th>
              <th> Thời gian sửa</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let mstbank of mstbanks" >
            <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button class="btn btn-success btn-sm" ngbDropdownToggle>Hành Động</button>
                  <div ngbDropdownMenu>
                    <button (click) = "getMstBank(mstbank)" ngbDropdownItem>Sửa</button>
                    <div class="dropdown-divider"></div>
                    <button (click) = "deleteMstbank(mstbank)" ngbDropdownItem>Xóa</button>
                  </div>
                </div>
              </td>
              <td> {{ mstbank.bankCode }} </td>
              <td> {{ mstbank.bankName }} </td>
              <td> {{ mstbank.banksName }} </td>
              <td> {{ mstbank.remarks }} </td>
              <td> {{ mstbank.createdUserId }} </td>
              <td> {{ mstbank.createdTime }} </td>
              <td> {{ mstbank.updatedUserId }} </td>
              <td> {{ mstbank.updatedTime }} </td>
          </tr>
      </tbody>
  </table>
  