<div class="container">
    <button type="button" class="btn btn-primary"
      mat-button
      [routerLink]=""
      [routerLinkActive]="'active-link'"
    >Back Employee List</button>
  </div>
  
  <div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
  
        <div class="form-group">
            <label> Mã ngân hàng</label>
            <input type="text" class ="form-control" id = "bankCode"
                [(ngModel)] = "mstbank.bankCode" name = "bankCode">
        </div>
  
        <div class="form-group">
            <label> Tên đầy đủ</label>
            <input type="text" class ="form-control" id = "bankName"
                [(ngModel)] = "mstbank.bankName" name = "bankName">
        </div>
  
        <div class="form-group">
            <label> Tên viết tắt</label>
            <input type="text" class ="form-control" id = "banksName"
                [(ngModel)] = "mstbank.banksName" name = "banksName">
        </div>
  
        <div class="form-group">
          <label> Ghi chú</label>
          <input type="password" class ="form-control" id = "remarks"
              [(ngModel)] = "mstbank.remarks" name = "remarks">
        </div>
  
        <button class = "btn btn-success" type ="submit">Submit</button>
  
    </form>
    </div>
  